:root{
    --main-red: red;
    --main-blue: blue;
    --main-green: rgb(0, 151, 0);
    --green-hover: green;
    --red-hover: rgb(206, 0, 0);
    --letter-footer: #878787;
}

body, html{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    padding: 1% 0 0.5%;
    color: white;
    background: red;
    height: 27vh;
}

header h1{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

header p{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 18px;
}

#section-one{
    display: flex;
    justify-content: center;
    margin-top: -5%;
    margin-bottom: 32px;
}

#word-box{
    background-color: var(--main-blue);
    width: 30%;
    text-align: center;
    color: white;
}

#word-box h2{
    font-weight: 600;
    font-size: 48px;
    margin: 0;
}

.bottom-warning{
    font-weight: 300;
}

#show-meaning-button{
    cursor: pointer;
}

#drawn-button{
    background-color: var(--main-red);
    border-radius: 50%;
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: -32px;
    margin-top: -32px;
    cursor: pointer;
}

#drawn-button img{
    max-width: 36px;
}

#section-two{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#new-words{
    background: linear-gradient(135deg, red, blue);
    color: white;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2%;
    cursor: pointer;
}

#new-words img{
    max-width: 36px;
    margin-right: 12px;
}

footer{
    width: 100vw;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 1.6% 0;
    color: var(--letter-footer);
}

.modal-overlay{
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;

    visibility: hidden;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal{
    background-color: white;
    padding: 1%;
    border-radius: 0.8rem;
}

.modal input{
    display: block;
    margin-top: 1.5%;
    width: 95%;
    border-radius: 0.8rem;
    border-color: black;
    padding: 2% 0 2% 4%;
    font-family: 'Montserrat';
}

.modal h3{
    font-family: 'Montserrat';
    font-weight: 500;
}

.modal .div-input{
    margin: 5% 0;
}

.modal .div-buttons{
    display: flex;
    justify-content: center;
}

.modal .div-buttons .form-button{
    border: none;
    height: 5vh;
    width: 50%;
    margin: 3% 2% 2%;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Montserrat';
    font-size: 16px;
}

.modal .div-buttons .button-add{
    background-color: var(--main-green);
}

.modal .div-buttons .button-add:hover{
    background-color: var(--green-hover);
}

.modal .div-buttons .button-cancel{
    background-color: var(--main-red);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
}

.modal .div-buttons .button-cancel:hover{
    background-color: var(--red-hover);
}
