:root{
    --main-red: red;
    --main-blue: #0000ff;
    --main-green: #009700;
    --green-hover: green;
    --red-hover: rgb(206, 0, 0);
    --blue-hover: #0000d6;
    --letter-footer: #878787;
}

body, html{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    padding: 1% 0 0.5%;
    color: white;
    background: red;
    height: 27vh;
}

header h1{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

header p{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 18px;
}

#main-section{
    display: flex;
    justify-content: center;
    margin-top: -5%;
    margin-bottom: 32px;
}

#word-box{
    background-color: var(--main-blue);
    width: 30%;
    text-align: center;
    color: white;
}

#word-box h2{
    font-weight: 600;
    font-size: 40px;
    margin: 0;
}

.bottom-warning{
    font-weight: 300;
}

#show-meaning-button{
    cursor: pointer;
}

#drawn-button{
    background-color: var(--main-red);
    border-radius: 50%;
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: -32px;
    margin-top: -32px;
    cursor: pointer;
}

#drawn-button img{
    max-width: 36px;
}

#add-words-section{
    display: flex;
    justify-content: space-around;
    margin: 8% 8% 0;

}

.add-words-buttons{
    color: white;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2%;
    width: 300px;
    cursor: pointer;
    border-radius: 8px;
}

#new-words{
    background: linear-gradient(135deg, red, blue);
}

#add-file{
    background: linear-gradient(135deg, blue, red);
}

#bottom-section{
    display: flex;
    justify-content: center;
    padding: 6%;
}

.show-list-button{
    color: white;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    cursor: pointer;
    border-radius: 36px;
}

.show-list-button p{
    margin: 10px;
}

#words-list{
    background-color: var(--main-blue);
}

footer{
    width: 100vw;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 1.6% 0;
    color: var(--letter-footer);
}

.modal-overlay{
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;

    visibility: hidden;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal{
    background-color: white;
    padding: 2% 5%;
    width: 25vw;
    border-radius: 0.8rem;
}

.modal input{
    display: block;
    margin-top: 1.5%;
    width: 95%;
    border-radius: 0.8rem;
    border-color: black;
    padding: 2% 0 2% 4%;
    font-family: 'Montserrat';
}

.modal h3{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
}

.modal .div-input{
    margin: 5% 0;
}

.modal .div-buttons{
    display: flex;
    justify-content: center;
}

.modal .div-buttons .form-button{
    border: none;
    height: 5vh;
    width: 50%;
    margin: 3% 2% 2%;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Montserrat';
    font-size: 16px;
}

.modal .div-buttons .button-add{
    background-color: var(--main-green);
}

.modal .div-buttons .button-add:hover{
    background-color: var(--green-hover);
}

.modal .div-buttons .button-cancel{
    background-color: var(--main-red);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
}

.modal .div-buttons .button-cancel:hover{
    background-color: var(--red-hover);
}

#div-words-list{
    width: 25vw;
    padding: 0 5%;
    display: flex;
    justify-content: center;
}

.buttons-modal-out{
    height: 36px;
    width: 25vw;
    padding: 1% 0;
    border-radius: 1.25rem;
    border: none;
    margin-top: 4%;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--main-blue);
    color: white;
    font-family: 'Montserrat';
}

.modal-list-overlay{
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;

    background-color: rgba(0, 0, 0, 0.7);

    visibility: hidden;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-list-overlay.active{
    visibility: visible;
    opacity: 1;
}

.modal-list{
    background-color: white;
    border-radius: 8px;
}

.modal-list h2{
    text-align: center;
}

.modal-list table{
    width: 50vw;
    border-spacing: 0;
    padding: 2%;
}

.modal-list th,
.modal-list td{
    text-align: center;
    border: solid;
    padding: 10px 0;
}

.modal-list th:first-child,
.modal-list td:first-child{
    width: 50%;
    border-right: none;
}

.modal-list td{
    border-top: none;
}

.button-close-modal{
    background-color: red;
    height: 26px;
    width: 26px;
    border: none;
    border-radius: 50%;
    position: relative;
    top: -41vh;
    left: -13px;
    
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat';
}

.button-close-modal:hover{
    background-color: var(--red-hover);
}